@import './scss/global.scss';
@import './scss/variables.scss';

:root {
    $primary: #00aacf;
    $light: #00aacf;

    $font-size-1: 48px;
    $font-size-2: 28px;
    $font-size-3: 20px;
    $font-size-4: 18px;
    $font-size-5: 16px;
}