@import './variables.scss';

main {
    min-height: 75rem;
    padding-top: 2.5rem;
}

@font-face {
    font-family: 'Manjari';
    src: 
        url(../fonts/manjari-regular-webfont.woff) format('woff'),
        url(../fonts/manjari-regular-webfont.woff2) format('woff2');
}

* {
    font-family: 'Manjari', sans-serif;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #474747;
}