@font-face {
    font-family: 'Manjari';
    src: 
        url(../fonts/manjari-regular-webfont.woff) format('woff'),
        url(../fonts/manjari-regular-webfont.woff2) format('woff2');
}

* {
    font-family: 'Manjari', sans-serif;
}

main {
    min-height: 75rem;
    padding-top: 4.5rem;
}